<header class="flex flex-row justify-end items-center h-12 px-4">
  <button 
    type="button" 
    class="text-gray-600 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-xs px-3 py-1 flex flex-row items-center gap-1"
  >
    Ayuda
  </button>
</header>